.info {
    display: flex;
    width: 90%;
    border-radius: 30px;
    border: 10px solid seagreen;
    background-color: saddlebrown;
    padding: 5px;
    font-weight: bolder;
    color: whitesmoke;;
    justify-content: center;
    align-items: center;
}

strong {
    color: palegreen;
}


button {
    justify-content: center;
    background-color: #4CAF50; /* Green */
    border: 10px black;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;  
    width: 20%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}